<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <link href="/static/main.css" rel="stylesheet">
    <title>URL Shortner</title>

</head>
<body>
   <h3>Shorten URLs</h3>
   <div class="msg"> Sike BITCH!! We made it large. Feels great to see that disappointed face!! Haha </div>

   <div>
        Genrated URL: <a class="text-decoration-none gen" href="http://shorten69.herokuapp.com/r/{{ .ShortURL }}">shorten69.herokuapp.com/r/{{ .ShortURL }}</a>
        <br>
        <a href="/" class="gen text-decoration-none">Generate more</a>
   </div>
</body>
</html>
